# This is a basic workflow to help you get started with Actions

name: Infra Build

# Controls when the workflow will run
on:
  push:
    branches:
      - dev
      - prod
# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Infra:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set flag for approval in prod
        if: endsWith(github.ref, '/prod')
        run: |
          echo "::set-env name=APPROVAL::true"

      # Runs a single command using the runners shell
      - name: Show APPROVAL
        run: echo $APPROVAL