# This is a basic workflow to help you get started with Actions

name: Infrastructure

# Controls when the workflow will run
on:
  push:
    branches:
      - main
# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Used to run the build
env:
  TEST_TAG: moonwalkers/terraform:runnow


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  dev:
    runs-on: ubuntu-latest
    environment:
      name: dev
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      -
        name: Build and export to Docker
        # Does a quick build
        uses: docker/build-push-action@v2
        with:
          load: true
          tags: ${{ env.TEST_TAG }}
          # Uses secrets stored in the project. The account is Nicolas' one. Please be mindful of the usage
          secrets: |
            "TERRAFORM_TOKEN=${{ secrets.TERRAFORM_TOKEN }}"
            "GCP_CREDENTIAL=${{ secrets.GCP_CREDENTIAL }}"
      -
        name: Test the image
        # Tests the built image
        run: |
          docker run --rm ${{ env.TEST_TAG }}